
#background{
   -fx-background-image: url('Kino-Arena-Luxe-Picture-5.jpg');
    -fx-background-size: cover;
}
#name{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#email{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#password{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#description{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#confirm-password{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#register-form{
   -fx-background-color: black;
    -fx-background-size: cover;

}
#card-number{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#phone{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}
#email-login{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}#password-login{
     -fx-prompt-text-fill: white;
     -fx-text-fill: white;
     -fx-font-size: 16;
 }
#anchor-data{
    -fx-background-color: black;
    -fx-background-size: cover;

}
#anchor-login{
    -fx-background-image: url('Kino-Arena-PREMIUM-Zapad-1.jpg');
    -fx-background-size: cover;
}
#title{
     -fx-prompt-text-fill: white;
     -fx-text-fill: white;
     -fx-font-size: 16;
 }
#year{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#description{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 10;
}
#seats{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#image-url{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#price{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#tableView{
    -fx-background-color:  dbd5d5;
    -fx-border-color:  #dbd5d5;
}
#titleColumn{
    -fx-background-color: #dbd5d5;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-border-color:  #dbd5d5;
}
#priceColumn{
    -fx-background-color: #dbd5d5;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-border-color:  #dbd5d5;
}
#yearColumn{
    -fx-background-color: #dbd5d5;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-border-color:  #dbd5d5;
}
#genreColumn{
    -fx-background-color: #dbd5d5;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-border-color:  #dbd5d5;
 }
#imageAnchor{
    -fx-background-image: url('search.png');
    -fx-background-size: cover;
}

